# Project exclude paths
/common/foodie-cloud-common/target/
/common/foodie-cloud-shared-pojo/target/
/common/foodie-cloud-web-components/target/
/domain/item/foodie-item-api/target/
/domain/item/foodie-item-mapper/target/
/domain/item/foodie-item-pojo/target/
/domain/item/foodie-item-service/target/
/domain/item/foodie-item-web/target/
/platform/registry-center/target/